
 <footer id="eskimo-footer">
  <div class="container">
      <div class="row eskimo-footer-wrapper">
         
          <div class="col-12 col-lg-6 mb-4 mb-lg-0">
              <h5 class="eskimo-title-with-border"><span>About Me</span></h5>
              <p>My name is Demilade Popoola...</p>
              <p><a href="{%url 'about_us' %}" class="btn btn-default">Read More</a></p>
          </div>
      </div>
      <div class="eskimo-footer-credits">
          <p>
              Made with love by <a href="/" target="_blank">Demilade</a>
              &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              Django Blog
          </p>
      </div>
  </div>
</footer>