{% extends 'blog/base.html' %} {% block content %}
<div class="clearfix"></div>

<div class="django-page-title">
    <h1><span>Create Resume</span></h1>
    <div class="django-page-title-meta">
                
    </div>
</div>
<form method="POST" > {% csrf_token %} 
<h3>Basic info</h3>
{{ personal_info_form.as_p }} 
<h3>Skills</h3>
{{ skills1.as_p }}
<h3>Intrest</h3>
{{interest1.as_p}}
<h3>language</h3>
{{langauges1.as_p}}
<h3>Educational info</h3>
<h6>1</h6>
{{education1.as_p}}
<h3>Work Experience</h3>
<h6>1</h6>
{{work1.as_p}}


  <button type="submit" class="btn btn-default">Submit Resume &nbsp;<i class="fa fa-send"></i></button>
</form>

{% endblock %}
