{% extends 'blog/base.html' %} {% block content %}
<div class="clearfix"></div>

<div class="django-page-title">
    <h1><span>Create Resume</span></h1>
    <div class="django-page-title-meta">
                
    </div>
</div>
<form method="post" > {% csrf_token %} 
<h3>Basic info</h3>
{{ form.as_p }} 
<h3>Skills</h3>
{{ skillsForm.as_p }}
<h3>Intrest</h3>
{{intrestForm.as_p}}
<h3>language</h3>
{{langaugesForm.as_p}}
<h3>Educational info</h3>
{{educationForm.as_p}}

  <button type="submit" class="btn btn-default">Submit Resume &nbsp;<i class="fa fa-send"></i></button>
</form>

{% endblock %}
