{% extends 'blog/base.html' %} {% block content %}
<div class="clearfix"></div>

<div class="django-page-title">
    <h1><span>resume</span></h1>
    <div class="django-page-title-meta">
        <div class="django-author-meta">
        resume
        </div>

       
        {% if user.is_authenticated %}
        <div class="django-cat-meta">
           <a href=""> Edit  &nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </div>
        {% endif %}
    </div>
    
   
</div>

{% if personal_info %}       
    <article class="resume-wrapper text-center position-relative">
        <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
            <header class="resume-header pt-4 pt-md-0">
                 {%for details in personal_info %}
                    <div class="media flex-column flex-md-row">
                        <img class="mr-3 img-fluid  mx-auto" src="{{'/static/img/picture.jpg'}}" alt="">
                        <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
                            <div class="primary-info">
                                <h1 class="name mt-0 mb-1">{{ details.full_name }} </h1>
                                <div class="title mb-3">Computer Science</div>
                                <ul class="list-unstyled">
                                    <li class="mb-2"><a href="#"><i class="fa fa-envelope" ></i> &nbsp; {{details.email}}</a></li>
                                    <li><a href="#"><i class="fa fa-phone" > &nbsp; </i>{{details.phone_number}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                 {%endfor%}
            </header>    
            {%for details in personal_info %}
                <div class="resume-body p-5">
                    <section class="resume-section summary-section mb-5">
                        <h2 class="resume-section-title font-weight-bold pb-3 mb-3">PERSONAL PROFILE</h2>
                        <div class="resume-section-content">
                            <p class="mb-0">{{details.personal_profile}} </p>
                        </div>
                    </section>
                <div class="row">
            {%endfor%}


                    <div class="col-lg-9">
                        <section class="resume-section education-section mb-5">
                            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
                            {%for schools in education %}

                                <div class="resume-section-content">
                                    <ul class="list-unstyled">
                                        <li class="mb-2">
                                            <div class="resume-degree font-weight-bold">{{schools.course}}</div>
                                            <div class="resume-degree-org">{{schools.name}}</div>
                                            <div class="resume-degree-time">{{schools.start_year}} - {{schools.end_year}}</div>
                                        </li>
                                    </ul>
                                </div>
                            {%endfor%}
                        </section>
                    </div>
            
                    <div class="col-lg-9">
                        <section class="resume-section experience-section mb-5">
                            <h2 class="resume-section-title font-weight-bold pb-3 mb-3 text-uppercase ">Employment And Work Experience</h2>
                            <div class="resume-section-content">
                                {%for jobs in work %}

                                    <div class="resume-timeline position-relative">
                                        <article class="resume-timeline-item position-relative"> 
                                            <div class="resume-timeline-item-header mb-2">
                                                <div class="d-flex flex-column flex-md-row">
                                                    <h3 class="resume-position-title font-weight-bold mb-1">{{jobs.job}} <small class="text-muted">{{jobs.position}}</small></h3>
                                                    <div class="resume-company-name ml-auto">{{jobs.company}} </div>
                                                </div>
                                                <div class="resume-position-time">{{jobs.start_year}}  - {{jobs.end_year}}</div>
                                            </div>
                                            <div class="resume-timeline-item-desc">
                                                <p>{{jobs.description}}</p>
                                            </div>
                                        </article> 
                                    </div>
                                {%endfor%}
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-9">
                        <section class="resume-section experience-section mb-5">
                            <h2 class="resume-section-title font-weight-bold pb-3 mb-3 text-uppercase">Intrests</h2>
                            <div class="resume-section-content">
                            {%for Interests in interesti%}
                                <div class="resume-timeline position-relative">
                                    <article class="resume-timeline-item position-relative"> 
                                        <ul>
                                            <li>{{Interests.intrest}}</li>
                                        </ul>
                                    </article> 
                                </div>
                            {%endfor%}
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-9">
                        <section class="resume-section experience-section mb-5">
                            <h2 class="resume-section-title font-weight-bold pb-3 mb-3 text-uppercase">Skills</h2>
                             <div class="resume-section-content">
                            {%for skilli in skills%}
                                <div class="resume-timeline position-relative">
                                    <article class="resume-timeline-item position-relative"> 
                                        <ul>
                                            <li>{{skilli.skill}}</li>
                                        </ul>
                                    </article> 
                                </div>
                            {%endfor%}
                            </div>
                        </section>
                    </div>
                                        <div class="col-lg-9">
                        <section class="resume-section experience-section mb-5">
                            <h2 class="resume-section-title font-weight-bold pb-3 mb-3 text-uppercase">Languages</h2>
                            <div class="resume-section-content">
                            {%for langaugesi in langauges%}
                                <div class="resume-timeline position-relative">
                                    <article class="resume-timeline-item position-relative"> 
                                        <ul>
                                            <li>{{langaugesi.Language}}</li>
                                        </ul>
                                    </article> 
                                </div>
                            {%endfor%}
                            </div>
                        </section>
                    </div>
                
                </div>
            </div>
        </div>
    </article>  

{%else%}
    <div class="django-page-title">
        <h1><span>No Resume Available</span></h1>
        <p class="django-page-subtitle">Please Post a Resume</p>
         {% if user.is_authenticated %}
            <a href="{%url 'add_resume'  %}"> Add Resume  &nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
         {% endif %}
    </div>
{% endif %}
{% endblock%}
